# SPDX-FileCopyrightText: 2026 Cybou contributors
# SPDX-License-Identifier: MIT

vps-d0669a91.vps.ovh.net {
	encode zstd gzip

	reverse_proxy 127.0.0.1:8787

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}
}

51.255.46.58 {
	tls {
		issuer acme {
			profile shortlived
		}
	}

	encode zstd gzip
	reverse_proxy 127.0.0.1:8787

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}
}
